.App {
  text-align: center;
}
a:hover{
  text-decoration: none;
}
#map{
  text-align: center;
}
#rendered_map{
  display: inline-block
}
#basic_info{
  text-align: center;
}
#full_list{
  display:flex;
  flex-wrap: wrap;
}
#full_list, .individual_item{
  flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
}
.shipment_success{
  margin-top:1rem;
}
.view_shippers{
  margin-top: 1rem;
  margin-bottom: 1rem;
}